<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1043346652466-ot4tovr8niq9jiupc0knhs3d0u5403l5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1043346652466-ot4tovr8niq9jiupc0knhs3d0u5403l5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1043346652466-4g21aatn3jp13hip1lev3nkav336rv03.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBVl46AjgjSdXGEOZds3FESwMnjVDZUWg4</string>
	<key>GCM_SENDER_ID</key>
	<string>1043346652466</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ebookApp</string>
	<key>PROJECT_ID</key>
	<string>e-book-a4896</string>
	<key>STORAGE_BUCKET</key>
	<string>e-book-a4896.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1043346652466:ios:3a0ecba65e4015528e2b2b</string>
</dict>
</plist>